.user {
    display: flex;
    margin-bottom: 5px;
}

.photoBlock img {
    width: 100px;
    border-radius: 10px;
    }

.descBlock {
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 10px;
    border:  #bce8f7 solid 2px;
    flex-grow: 1;
}

.df {
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.userBtn {
margin-bottom: 20px;
}
.userBtn:active {
    background-color: #bce8f7;
}

.userBtn:last-child {
    margin-bottom: 0;
}

.pagination {
    display: flex;
    padding-bottom: 20px;
}

.pagItem {
    cursor: pointer;
    padding: 1px 6px ;
    margin: 0 3px;
    border-radius: 3px;
    border: #27aae1 1px solid;
}

.pagItem.active {
    font-weight: bold;
}

.preloader {
    display: flex;
    align-items: center;
    justify-content:center ;
}

.formik {
    margin-bottom: 20px;
}

.formikInput {
    margin-right: 20px;
    height: 23px;
}

.formikSelect {
    height: 29px;
}