.app-wrapper {
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 90px 1fr;
    grid-template-columns: 1fr 5fr;
}


.app-wrapper-content {
    grid-area: c;
    padding-left: 20px;
}

button {
    background: #27aae1;
    padding: 7px 25px;
    border: none;
    font-size: 14px;
    color: #fff;
    position: relative;
    font-weight: 600;
    outline: none;
    border-radius: 30px;
}